@model IEnumerable<OnlineShop.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Home Page";
    ViewBag.url = "~/Images/pic1.jpg";
}

<div class="UpdatesToUsers">
    Welcome to PC Wizard, we sell laptops at an affordable price. Enjoy!
</div>
<div class="saleAnimations" style="background-color:white;background-image:url(@Url.Content("~/Images/pic1.jpg"))">
    <h4 style="text-align:center; font-family:'Segoe UI'; font-weight:bold; font-size:20px"> New Stuff</h4>
    <i class="fas fa-hand-point-down"></i>
    <div class="body-content" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap:5px">

        @{
            foreach (var product in Model)
            {
                <div class="card" s style="width: 250px; height: 300px; border: none; margin: 5px; background-color: whitesmoke; padding: 0px; border-radius: 5px; text-align: center; box-shadow: 10px 10px 5px grey; ">
                    <div class="card-body">
                        <div class="pictures" style="width: 300px; margin-left: 2px; margin-top:5px; margin-bottom:5px; ">
                            @if (product.Image != null)
                            {<img src="@Url.Content("~/Images/" + product.Image)" alt="@product.Image" width="240px" height="200px" style="margin-right:70px" />}
                            else
                            { <img src="@Url.Content("~/Images/null.png")" alt="No Product" width="240px" height="150px" style="margin-right:70px" />}
                        </div>
                        <div class="ProductName_" style="height: 50px; width: 250px; padding-left:5px; border-top: 2px solid #468189ff; padding-top: 0px">
                            <h5>@product.ProductName</h5>
                        </div>
                        <div class="Price" style="border-top:2px solid #468189ff;height: 50px; width: 250px;padding-left:5px"><h5>@product.ProductPrice.ToString("R#,##0.00")</h5></div>
                    </div>
                </div>
            }
        }

    </div>
</div>


